@model ToDo.Models.Note
@{
    ViewData["Title"] = "Add Note";
    Dictionary<Color, string> colors = new Dictionary<Color, string> {
        { Color.RED, "Red"},
        { Color.BLUE, "Blue" },
        { Color.GREEN, "Green" },
        { Color.YELLOW, "Yellow" },
        { Color.WHITE, "White" }
    };
}

<form asp-action="Add" method="post">
    <div class="jumbotron col-8">

        <div class="form-group">
            <h2 class="text-info">Add Note</h2>
        </div>

        <div class="pt-2">
            <div class="form-group">
                <div>
                    <h4><label asp-for="Title"></label></h4>
                </div>

                <div>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input asp-for="Title" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <h4><label asp-for="Details"></label></h4>
                </div>

                <div>
                    <span asp-validation-for="Details" class="text-danger"></span>
                    <textarea asp-for="Details" class="form-control" rows="4"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <h4><label asp-for="Color"></label></h4>
                </div>

                <div class="mt-n2">
                    @foreach (var color in colors.Keys)
                    {
                        @Html.RadioButtonFor(Model => Model.Color, color) <span>  @colors[color]</span> <br />
                    }
                    
                </div>
            </div>

            <div>
                <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
                <input class="btn btn-outline-primary float-right" type="submit" value="Add">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ <partial name="_ValidationScriptsPartial"} /> }
}