@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model _Task
@{
}

<div class="jumbotron">
    <h2 class="display-4">@Model.Title</h2>
    <p>@Model.Details</p>
    <p class="text-secondary">@Model.DateCreated</p>
</div>